<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="routingAppFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>
			${catalina.base}/var/output/logs/routing/routing.log
		</File>
		<encoder>
			<pattern>[%d{dd MMM yy HH:mm:ss}] %c %-5p %X{rid} - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${catalina.base}/var/output/logs/routing/routing.log.%d{yyyy-MM-dd-HH}.gz
			</fileNamePattern>
			<maxHistory>480</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>[%d{dd MMM yy HH:mm:ss}] %c %-5p %X{rid} - %m%n</pattern>
		</encoder>
	</appender>


	<root level="WARN">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.inncretech.multitenancy" level="INFO"
		additivity="false">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="WARN" additivity="false">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.apache" level="WARN" additivity="false">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="java.sql" level="WARN" additivity="false">
		<appender-ref ref="routingAppFileAppender" />
		<appender-ref ref="STDOUT" />
	</logger>





</configuration>